[project]
	description = WalArt Prototype For AngelHack 2013
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sharmiladevi
[access "refs/for/refs/*"]
	read = group user/sharmiladevi
	push = group user/sharmiladevi
	label-Code-Review = -2..+2 group user/sharmiladevi
	label-Verified = -1..+1 group user/sharmiladevi
	rebase = group user/sharmiladevi
	removeReviewer = group user/sharmiladevi
	submit = group user/sharmiladevi
[access "refs/heads/*"]
	read = group user/sharmiladevi
	create = group user/sharmiladevi
	push = +force group user/sharmiladevi
	pushMerge = group user/sharmiladevi
[access "refs/tags/*"]
	push = +force group user/sharmiladevi
	pushTag = group user/sharmiladevi
	pushSignedTag = group user/sharmiladevi
